#encoding UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wetter</title>
  </head>
  <body>
    <div id="weatherinfo">
		<table><tbody>
		    <tr><td>Stand</td><td>$current.dateTime</td></tr>
		    <tr><td>Temperatur</td><td>$current.outTemp</td></tr>
			<tr><td>Barometer</td><td>$current.barometer</td></tr>
			<tr><td>Wind</td><td>$current.windDir.ordinal_compass - $current.windSpeed</td></tr>
			<tr><td>Böen</td><td>$current.windGustDir.ordinal_compass - $current.windGust</td></tr>
		</tbody></table>
    </div>
  </body>
</html>

