#encoding UTF-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wetter</title>
	<style>
		body {
			color: #406080;
		    font-family: Arial;
			font-size: 14px;
		}
	</style>
	<!-- This page is meant to be displayed in an IFrame on scgn.de, but the embedded links point to
		 the origin domain, bitweide.de. Therefor, instruct the browser to open them in a new tab. -->
	<base target="_blank"/>
  </head>
  <body>
    <div id="weatherinfo">
		<table><tbody>
		    <tr><td>Temperatur</td><td><div style="font-size:115%"><b>$current.outTemp</b></div></td></tr>
			<tr><td>Luftdruck</td><td><div style="font-size:115%"><b>$current.barometer</b></div></td></tr>
			<tr><td>Wind</td><td><div style="font-size:115%"><b>$current.windSpeed</b></div></td></tr>
			<tr><td>Richtung</td><td><div style="font-size:115%"><b>$current.windDir.ordinal_compass</b></div></td></tr>
		</tbody></table>
		<p>Stand <b> $current.dateTime</b></p>
		<p><a href="day.html"><em>SCGN Wetterstation</em></a></p>
    </div>
  </body>
</html>
