#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
#encoding UTF-8
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head profile="http://www.w3.org/2005/10/profile">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$station.location Wetterstation</title>
	<link rel="stylesheet" href="weewx.css"/>
	<link rel="icon" type="image/png" href="favicon.ico" />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript">
	  function openURL(urlname) {
		  window.location=urlname;
	  }

      var time = new Date().getTime();

      $(document.body).bind("mousemove keypress", function(e) {
		  time = new Date().getTime();
      });

      function refresh() {
		  if(new Date().getTime() - time >= 300000) 
			  window.location.reload(true);
		  else 
			  setTimeout(refresh, 10000);
      }

      setTimeout(refresh, 10000);

	</script>
  </head>

  <body>


	<div class="grid" id="page">
	  
	  <div class="header">
		<h1>Wetter am Segelclub Graben-Neudorf</h1>
	  </div>
	  
	  <div class="updated">
		<h5>aktualisiert um $current.dateTime</h5>
	  </div>
	  
	  <div class="navbuttons">
		  <a class="linkbutton" href="index.html">Tag</a>
		  <a class="linkbutton" href="month.html">Monat</a>
		  <a class="linkbutton" href="year.html">Jahr</a>
	  </div>

	  <div class="hdg_extreme">
		<h3>Extremwerte</h3>
	  </div>
	  
	  <div class="lbl_thigh">Höchsttemperatur:</div>
	  <div class="lbl_tlow">Tiefsttemperatur:</div>
	  <div class="lbl_phigh">max. Luftdruck:</div>
	  <div class="lbl_plow">min. Luftdruck:</div>
	  <div class="lbl_vmax">max. Windgeschwindigkeit:</div>
	  <div class="lbl_gmax">max. Böen</div>

	  <div class="val_thigh">$week.outTemp.max um $week.outTemp.maxtime</div>
	  <div class="val_tlow">$week.outTemp.min um $week.outTemp.mintime</div>
	  <div class="val_phigh">$week.barometer.max um $week.barometer.maxtime</div>
	  <div class="val_plow">$week.barometer.min um $week.barometer.mintime</div>
	  <div class="val_vmax">$week.windSpeed.max um $week.windSpeed.maxtime</div>
	  <div class="val_gmax">$week.windGust.max um $week.windGust.maxtime</div>


	  <div class="hdg_stationinfo">
		<h3>Stationsinfos</h3>
	  </div>

	  <div class="lbl_lat">Breitengrad: </div>
	  <div class="lbl_lon">Längengrad:</div>
	  <div class="lbl_sealevel">Meereshöhe:</div>

	  <div class="val_lat">$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2]</div>
	  <div class="val_lon">$station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2]</div>
	  <div class="val_sealevel">$station.altitude</div>

	  <div class="lbl_hw">Hardware: </div>

 	  <div class="val_hw1">$Extras.hardware</div>
	  <div class="val_hw2">$Extras.server</div>

	  <div class="lbl_disclaimer">
		<em>Keine Gewähr auf Verläßlichkeit der Daten!</em>
	  </div>
	  
	  
	  <div class="img_weektemp">
		<img src="weektempdew.png"   alt="Temperatures" />
	  </div>
	  <div class="img_weekpress">
		<img src="weekbarometer.png" alt="Barometer"/>
	  </div>
	  <div class="img_weekwind">
		<img src="weekwind.png"      alt="Wind" />
	  </div>
	  <div class="img_weekwindvec">
		<img src="weekwindvec.png"   alt="Wind Vector" />
	  </div>
	  <div class="img_weekhum">
		<img src="weekhum.png"       alt="Humidity" />
	  </div>
	  <div class="img_weekrain">
		<img src="weekrain.png"      alt="Rain" />
	  </div>

	  <div class="footer" style="color:#202010;">
		<div class="item" style="color:#202010;">
		  <a href="http://www.weewx.com">powered by WeeWX</a>
		</div>
		<div class="item" style="color:#202010;">Aktiv $station.os_uptime</div>
		<div class="item" style="color:#202010;">
		  <address> <a href="mailto:michael.kappert@gmx.net">Kontakt</a> </address>
		</div>
	  </div>
	</div>

  </body>

</html>
